/* General */

:root {
    --vsbrightblue: rgb(79, 193, 255);
    --vsgold: rgb(241, 215, 16);
    --vsyellow: rgb(220, 220, 155);
    --vspink: rgb(197, 134, 192);
    --vsorange: rgb(219, 136, 103);
    --vsplainblue: rgb(86, 156, 214);
}

body {
    background-color: rgb(36, 40, 46);
    color: rgb(255, 255, 255);
    font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
}

a {
    color: var(--vsbrightblue);
}

a:hover {
    color: var(--vsyellow);
}

.btn {
    border: 1px solid #fff;
    color: #fff;
}

.btn:hover {
    color: var(--vsbrightblue);
    border: 1px solid var(--vsbrightblue);
}



/* Navbar */

.navbar {
    justify-content: center;
    background-color: rgb(46, 52, 59);
}

.nav {
    align-items: baseline;
}

.navbar-brand {
    margin: 0px 50px;
    font-family: 'IBM Plex Mono', monospace;
    color: var(--vspink);
    font-size: 1.6rem;
}

.nav-link {
    color: var(--vsbrightblue);
    font-size: 1.2rem;
}

.nav-link .active, .nav-link:focus {
    color: var(--vsbrightblue);
    text-decoration: underline;
}

.navbar-brand:hover {
    color: var(--vsyellow);
}

.nav-link:hover {
    color: var(--vsyellow);
}



/* Home */

.hero-container {
    margin-top: 8%;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    font-family: 'IBM Plex Mono', monospace;
    text-align: right;
}

.hero-container img {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    box-shadow: 10px 10px 1px 0px var(--vsbrightblue);
}

.hero-content {
    margin-top: 20px;
    text-align: center;
    padding: 0px 20px;
    width: 60%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5rem;
}

.hero-social a {
    padding: 0px 10px;
    font-size: xx-large;
}

.blue {
    color: var(--vsplainblue)
}

.yellow {
    color: var(--vsyellow)
}

.orange {
    color: var(--vsorange)
}

.gold {
    color: var(--vsgold)
}



/* Contact */

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.contact-title h1 {
    font-size: 60px;
    color: var(--vsplainblue);
}

.contact-content a {
    padding-right: 10px;
    font-size: x-large;

}

.form-container {
    padding-top: 25px;
    margin: 0 auto;
    width: 80%;
}



/* Projects */

.project-title {
    font-size: 60px;
    color: var(--vsplainblue);
}

.img-container {
    height: 300px;
    background-size: cover;
    background-position: top;
    border-radius: 25px 25px 0px 0px;
}

.project-container {
    margin-top: 25px;
    margin-bottom: 50px;
}

.project-column {
    border-radius: 25px;
    box-shadow: 4px 4px 8px 2px rgb(0, 0, 0)
}

.project-content button {
    margin: 0px 10px;
}



/* MEDIA QUERIES */

@media (max-width: 576px) { 
    .contact-container {
        display: flex;
        flex-direction: column;
    }

    .contact-title h1 {
        font-size: 40px;
    }

    .project-title {
        font-size: 40px;
    }
 }

 @media (max-width: 768px) {
    
    .hero-container {
        flex-direction: column;
        gap: 25px;
        text-align: left;
    }
    
    .hero-container img {
        width: 200px;
        height: 200px;
        border-radius: 100px;
    }
    
    .hero-content {
        width: 80%;
    }

 }